<div class="well">
    <form action="<?=base_url()?>users/user_temp/reset_password" method="post">
        <fieldset>
            <legend>Reset Password</legend>
            <input name="token" type="hidden" value = "<?=$token?>" readonly class="input-block-level">
            <input name="email" type="text" value = "<?=$email?>" readonly class="input-block-level">
            <input name="password1" type="password" class="input-block-level" placeholder="New password">
            <input name="password2" type="password" class="input-block-level" placeholder="Verify new password">

            <!-- TODO: put captcha thing -->

            <div class="pull-right">
                <button class="btn btn-primary">Set Password</button>
            </div>
        </fieldset>
    </form>
</div>
