<form id="update_project" action="<?=base_url()?>projects/update_project" method="post">
    <!--class='table table-striped table-hover'-->
    <div class="content-group">
        <fieldset>
            <div>
                <div class="pull-left"><strong style="font-size: xx-large">Update Form</strong></div>

                <div class="pull-right">
                    <button id="cancel_update_project" class="btn btn-danger "><i class="icon-remove icon-white"></i>  Cancel</button>
                </div>

                <div class="pull-right">
                    <button id="save_update_project" class="btn btn-primary "><i class="icon-ok-sign icon-white"></i>  Save</button>
                </div>
            </div>
            <br>
            <hr>

            <table  class="table table-striped table-hover">
                <thead>
                </thead>

                <tbody>
                    <tr>
                        <td>
                            <label>ID:</label></td>
                        <td>
                            <input type = "text" name = "id" placeholder = "ID" value="<?=$id?>" readonly>
                        </td> 
                        <td>
                            <label>Name:</label></td>
                        <td>
                            <input type = "text" name = "name" placeholder = "Name" value="<?=$name?>">
                        </td> 
                    </tr>
                    <tr>
                        <td>
                            <label>Project Status:</label></td>
                        <td>
                            <?php 
                            echo $project_status_dropdown;
                            ?>
                        </td>
                        <td>
                            <label>User Id :</label>
                        </td>
                        <td>
                            <input type = "text" name = "user_id" placeholder = "User Id" value="<?=$user_id?>">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Start date:</label>
                        </td>
                        <td>
                            <input type = "text" name = "start_date" id="project_update_start_date">
                        </td> 
                        <td>
                            <label>End date :</label>
                        </td>
                        <td>
                            <input type = "text" name = "end_date" id="project_update_end_date">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Percentage complete :</label>
                        </td>
                        <td>
                            <input type = "text" name = "percentage_complete" placeholder = "Percentage complete" value="<?=$percentage_complete?>">
                        </td>
                        <td>
                            <label>Project Value :</label>
                        </td>
                        <td>
                            <input type = "text" name = "value" placeholder = "Project Value" value="<?=$value?>">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Description :</label></td>
                        <td>
                            <textarea id="project_description" rows="10" name = "description" placeholder = "Description"></textarea>
                        </td>
                    </tr>
                </tbody>
            </table>
            <hr>
        </fieldset>
    </div>
</form>

<script language="javascript" type="text/javascript">
    $(document).ready(function() {
        $("#status_id").val('<?=$status_id?>');
        $("#project_update_start_date").val('<?=$start_date?>');
        $("#project_update_end_date").val('<?=$end_date?>');
        $("#project_description").val('<?=$description?>');

        $("#cancel_update_project").click(function() {
            event.preventDefault();
            window.history.go(-1);

            //window.history.go(-1);
        });

        $("#save_update_project").click(function() {

            $("#update_project").submit();
        });

        $("#project_update_start_date").datepicker();
//    
        $("#project_update_end_date").datepicker();

    });

</script>


