<nav class="navbar navbar-inverse">
    <div class="navbar-inner">
        <a href="#" class="brand">C M S</a>
        <!--responsive button-->
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-thumbs-down"></span>
        </a>
        <!--end of responsive button-->
        <!--nav content-->
        <div class="nav-collapse collapse">
            <ul class="nav">
                <li class="divider-vertical"></li>
                <li><a href="<?=base_url()?>dashboard">Dashboard</a></li>
                <li class="divider-vertical"></li>

                <!--users drop down-->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Users
                        <b class="caret"></b>
                    </a>  
                    <ul class="dropdown-menu">
                        <li><a href="#">Create user</a></li>
                        <li class="divider"></li>
                        <li><a href="<?=base_url()?>users/show_users">View user</a></li>
                    </ul>
                </li>
                <!--end of users drop down-->

                <!--project drop down-->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Projects
                        <b class="caret"></b>
                    </a>  
                    <ul class="dropdown-menu">
                        <li><a href="<?=base_url()?>projects/add_project">Create project</a></li>                                   
                        <li><a href="<?=base_url()?>projects/show_projects">View projects</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Create project status</a></li>                                   
                        <li><a href="#">View project status</a></li>
                    </ul>
                </li>
                <!--end of project drop down-->
                <li class="divider-vertical"></li>

                <!--tickets drop down-->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tickets
                        <b class="caret"></b>
                    </a>  
                    <ul class="dropdown-menu">
                        <!--                        <li><a href="<?=base_url()?>tickets/add_ticket">Create ticket</a></li>  -->
                        <li><a href="<?=base_url()?>tickets/show_tickets">View tickets</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Create ticket status</a></li>  
                        <li><a href="#">View ticket status</a></li>
                        <li class="divider"></li>
                        <!--                        <li><a href="#">Create ticket feedback</a></li>  -->
                        <li><a href="<?=base_url()?>tickets/ticket_feedback/show_ticket_feedback_by_specific">View ticket feedback</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Create ticket feedback status</a></li>  
                        <li><a href="#">View ticket feedback status</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Create ticket feedback type</a></li>  
                        <li><a href="#">View ticket feedback type</a></li>
                    </ul>
                </li>
                <!--end of drop down tickets-->




                <li class="divider-vertical"></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Connect
                        <b class="caret"></b>
                    </a>

                    <ul class="dropdown-menu">
                        <li><a href="#">Twitter</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Facebook</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Google+</a></li>
                        <!--                        <li class="divider"></li>-->
                        <!--                        <li><a href="<?=base_url()?>contact">Contact us</a></li>-->
                    </ul>
                </li>
                <li class="divider-vertical"></li>
                <li><a href="#" style="font-size: 16px;">Hello&nbsp;:&nbsp;&nbsp;<?=$user_name?></a></li>
                <li><a id="user_slug" href = "">(<?=$user_slug?>)</a></li>
                <li class="divider-vertical"></li>
                <li><a id="ticket_notification_admin" href="<?=base_url()?>tickets/show_ticket_no_replied"></a></li>

                
            </ul>
        </div>
        <!--end of nav content-->

        <div class="brand pull-right">
            <a href="<?=base_url()?>users/logout" id="tip_logout" rel="tooltip" data-animation="true" data-original-title="Log out" data-placement="bottom"><img src="<?=base_url()?>assets/img/icons/logout.png"></a>  
        </div>

    
        <!--nav search-->
        <form class="navbar-search pull-right" action="">
            <input type="text" class="search-query span2" placeholder="Search">
            <button class="btn btn-success btn-mini">Search</button>
        </form>
        <!--end of nav search-->


    </div>
</nav>
<script type="text/javascript" language="javascript">
    setInterval(notice, 1000);//表示10秒后执行say单位     
    function notice() {
        jQuery.ajax({
            "method": "post",
            "url": "<?=base_url()?>tickets/notification_ticket_admin",
            "async": true,
            "dataType": '',
            "success": function(data) {
                var message = data;
                //alert(message);
                if (data != "false") {
                    $('#ticket_notification_admin').replaceWith("<a id='ticket_notification_admin' class='badge badge-important' href='<?=base_url()?>tickets/show_ticket_no_replied'>" + message + "</a>");
                }
            }
        });
    }
</script>