  <div class="navbar navbar-inverse">
        <div class="navbar-inner">
            <a class="btn btn-navbar" data-toggle="collapse" data-target="#estate_nav">
                <span class="icon-thumbs-down"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <div id="nav_user_admin" class="nav-collapse collapse"> 
                <ul class="nav pull-right">
                    <li>
                        <a class="label label-inverse" href="#">Admin</a>                      
                    </li>
                    <li class="divider-vertical"></li>
                    <li>
                        <a class="label label-inverse" href="#">Admin</a>                      
                    </li>
<!--                    <li class="divider-vertical"></li>
                    <li>
                        <a class="label label-inverse" href="<?=base_url()?>users/show_all_users">All</a>                      
                    </li>-->
                    <li class="divider-vertical"></li>
                </ul>
            </div>
        </div>
    </div>
